<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatbot Prototype</title>
    <style media="screen">
      body{
        background-color: #eef;
      }

      h1{
        font-family: "Open Sans";
        font-size: 2rem;
        padding: 10px;
      }

      h2{
        font-family: Neuton;
        font-size: 1.5rem;
        padding: 10px;
      }

      h3{
        font-family: "Open Sans";
        color: #cc3;
      }
    </style>
  </head>
  <body>
    <h1>Hello and welcome to Shingai Shamu's Flask Chatbot Prototype!<h1>
    <h2>please click <a href="/chat">Here to interact with the chatbot...</a></h2>
    <h3>Happy Chatting!</h3>
  </body>
</html>
